<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 31%,
    rgba(25, 197, 242, 1) 77%
  );
}

.container {
  background-color: white;
}

button.btn {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.todo-list {
  width: 100%;
}
.mainBox {
  position: relative;
  height: 40px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.boxContent {
  width: 75%;
  position: absolute;
  left: 2%;
  max-width: 100%;
}
div.button {
  position: absolute;
  right: 0%;
}
.delete {
  border-radius: 2px;
}

.mark-as-done {
  border-radius: 2px;
}
.clearBox {
  border: none;
  border-radius: 2px;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.clear {
  background-color: blueviolet;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}
.item-count {
  width: 77%;
  margin-bottom: 16px;
}
.done {
  text-decoration: line-through;
  /* Add any other styling you want for a done item */
}
=======
* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 31%,
    rgba(25, 197, 242, 1) 77%
  );
}

.container {
  background-color: white;
}

button.btn {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.todo-list {
  width: 100%;
}
.mainBox {
  position: relative;
  height: 40px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.boxContent {
  width: 75%;
  position: absolute;
  left: 2%;
}
div.button {
  position: absolute;
  right: 0%;
}
.delete {
  border-radius: 2px;
}

.mark-as-done {
  border-radius: 2px;
}
.clearBox {
  border: none;
  border-radius: 2px;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.clear {
  background-color: blueviolet;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}
.item-count {
  width: 77%;
  margin-bottom: 16px;
}
.done {
  text-decoration: line-through;
  /* Add any other styling you want for a done item */
}
>>>>>>> 9d548e038a20a471f182ed690609ad205a100810
