/* Htmlde butun teglere tesir deyisir */
*{
    background-image: url("./../pictures/nightsky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    font-size: 35px;
    font-weight: 35px;
    padding:30px;
    color: bisque;
}
h2#heading{
    font-size: 32px;
    font-weight: 32px;
    color: beige;
}
/* Htmlde class; colleague olan butun h1 teglerine tesir edir */
h2.colleague{
    font-size: 30px;
    font-weight: 30px;
    color: beige;
}
p:first-of-type{
    font-size: 18px;
    font-weight: 18px;
    color:beige;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    height: 70px;
}
/* Htmldeki list elementlerine tesir edir */
 ul>li{
    font-size: 30px;
    font-weight: 30px;
    color: beige;
}

/* Htmldeki list elementine hereketlilik verir */
li:hover{
    color:darkred;
}
/* Htmlde div elementinin ilk ovladina tesir edir */
div:first-child{
    background-image: url(./../pictures/berries.jpg);
    background-repeat: no no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 200px;
}
/* Htmlde div elementinin ikinci ovladina tesir edir */
div:nth-child(2){
    background-image: url(./../pictures/strawberry.jpg);
    background-repeat: no no-repeat;
    background-size: contain;
    background-position:left;
    width: 100%;
    height: 200px

}
/* Htmlde id'si fruits olan divin icerisindeki class'i berry olan dive hereketlilik verir */
div#fruits>div.berry:hover{
    background-color: antiquewhite;
}
/* Htmlde div elementinin class'i berry olmayan elementlerine arxafon verir */
div:not(.berry){
    background-color:rgb(30, 78, 121);
}
/* Htmlde div elementinin sonuncu ovladina hereketlilik verir */
div:last-child:hover{
    background-color: aqua;

}