*{
    margin:0;
    padding:0;
    
}
#outer{
    border: 1px solid black;
    width:70%;
    background-color: rgba(82, 82, 25, 0.781);
    padding: 15px 10px 20px 10px;
    }
div.in1, div.in2, div.in3{
    border:1px solid black;
    width: 25%;
    border-radius: 5px;
    background-color: whitesmoke;
    display: inline-block;
    font-family: 'Fira+Sans';
    margin:5px 5px 10px 5px;
}
.image-wrapper{
    width: 100%;
    height: 200px;
    overflow:hidden;
}


div#outer p, div#outer h3, div#outer a{
    padding:10px ;
}