body {
    width: 100%;
    background: rgb(252, 70, 107);
    background: radial-gradient(circle, rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 0%, rgba(248, 71, 110, 1) 91%);
}

div.mobile-menu-bar {
    width: 140px;
    height: 60px;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 12px 20px 10px 20px;
    background-color: #FFC600;
    display: none;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 150px;
    gap: 10px;
    padding: 10px 20px;
    margin-top: 30px;
}

header div {
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .image-taco {
    grid-column: 1/1;
    grid-row: 1/3;
    background-image: url("../images/pexels-hana-brannigan-3642718.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.image-taco h1,.image-taco p{
    background-color: #FFC600;
}
.aside-box1,
.aside-box2 {
    background-color: #FFC600;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.menu {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    gap: 20px;
    padding: 10px 20px;
}

div.menu div.box {
    background-color: #FFC600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

div.about-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    padding: 10px 20px;

}

div.about-menu div.box {
    background-color: white;
}

main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin: 10px 20px;
}

div.taco-img {
    height: 400px;
    width: 40%;
    background-image: url("../images/DEL-022-Promo-2-Website_Thumbnail_Del-Taco-Soft_450x355.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

div.taco-img .taco-image-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.taco-image-content button {
    width: 150px;
    height: 50px;
    background-color: #FFC600;
    border: none;
}

.taco-image-content button,
.taco-image-content h1,
.taco-image-content p {
    padding: 10px 0;
}

div.header {
    width: 98%;
    height: 45px;
    color: black;
    font-size: 16px;
    background-color: #FFC600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

div.food-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px 300px;
    gap: 30px;
    padding: 20px;
}

div.food-img .img {
    width: 100%;
    height: 300px;
    background-size: cover;
}

div.food-img .img1 {
    background-image: url(../images/pexels-lumn-1410235.jpg);
    background-position: center;
}

div.food-img .img2 {
    background-image: url(../images/pexels-engin-akyurt-1435735.jpg);
}

div.food-img .img3 {
    background-image: url(../images/pexels-esrageziyor-16803393.jpg);
}

div.food-img .img4 {
    background-image: url(../images/pexels-hana-brannigan-3642718.jpg);
}

div.food-img .img5 {
    background-image: url(../images/pexels-j-a-n-n-g-u-y-e-n-🍁-699953.jpg);
}

div.food-img .img6 {
    background-image: url(../images/pexels-kader-d-kahraman-15564188.jpg);
    background-position: center;
}

div.food-img .img7 {
    background-image: url(../images/pexels-jane-doan-1099680.jpg);
}

div.food-img .img8 {
    background-image: url(../images/pexels-nadin-sh-18510260.jpg);
    background-position: center;
}

div.food-img .img9 {
    background-image: url(../images/pexels-polina-tankilevitch-5848707.jpg);
    background-position: center;
}

div.food-img .img10 {
    background-image: url(../images/pexels-foodie-factor-566566.jpg);
    background-position: center;
}



@media screen and (max-width: 1024px) {
    div.mobile-menu-bar{
        display: block;
    }
    header {
        grid-template-columns: 1fr 1fr;
    }

    div.image-taco {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    div.menu {
        display: none;
    }

    div.about-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    div.food-img {
        grid-template-columns: 1fr 1fr;
    }
    .image-taco h1{
        font-size: 25px;
    }
    .image-taco p{
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    header {
        grid-template-columns: 1fr;
    }

    .image-taco {
        grid-column: 1/2;
    }

    .aside-box1 {
        grid-column: 1/2;
    }

    .aside-box2 {
        grid-column: 1/2;
    }

    div.menu {
        display: none;
    }

    div.about-menu {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    div.food-img {
        grid-template-columns: 1fr;
    }
    div.taco-img{
        width: 90%;
    }
    .image-taco h1{
        font-size: 20px;
    }
    .image-taco p{
        font-size: 13px;
    }
}